
<div class="background">
  <div class="gradient-overlay"></div>
</div>

<div class="form-container">
  <div class="slider-container">
    <div class="slider"></div>
  </div>
  <div class="form-switcher">
    <button id="loginBtn"  routerLink='/login'>Login</button>
    <button id="signupBtn" class="active">Register</button>
  </div>
  <div class="form-wrapper">
    <form [formGroup]="registerForm" id="loginForm" class="active" (ngSubmit)="onSubmit()">
      <h2 style="font-weight: bold;" >register</h2>


      <div class="input-group">
        <input type="email" id="Email"  formControlName="Email" name="Email"  email pattern="[\w\-\.]+@([\w\-]+\.)+[\w\-]{2,4}" required>
        <label for="Email">E-Mail</label>
        @if ( this.registerForm.controls.Email.errors?.["required"]&&this.registerForm.controls.Email.touched ) {
          <div class="warnings">
            Email is required
          </div>
        }
        @if (this.registerForm.controls.Email.errors?.["pattern"]) {
          <div class="warnings">
            Please enter a valid email address.
          </div>
        }
      </div>


      <div class="input-group">
        <input type="password" id="Password" formControlName="Password" name="password" required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}">
        <label for="Password">Password</label>
        @if ( this.registerForm.controls.Password.errors?.["required"]&&this.registerForm.controls.Password.touched ) {
          <div class="warnings">
            Password is required
          </div>
        }
        @if (this.registerForm.controls.Password.errors?.["pattern"]) {
          <div class="warnings">
            password should include at least 8 characters, at least 1 lowercase letter, 1 uppercase, numbers and special characters
          </div>
        }
      </div>



      <div class="input-group">
        <input type="password" id="ConfirmPassword" formControlName="ConfirmPassword" name="Confirmpassword" required>
        <label for="ConfirmPassword">Confirm-Password</label>
        @if ( this.registerForm.controls.ConfirmPassword.errors?.["required"]&&this.registerForm.controls.ConfirmPassword.touched ) {
          <div class="warnings">
            ConfirmPassword is required
          </div>
        }
        @if ( this.registerForm.errors?.["PasswordNoMatch"] && this.registerForm.controls.ConfirmPassword.value!=='') {
          <div class="warnings">
            password does not match
          </div>
        }

      </div>


      <div class="input-group">
        <input type="text" id="NId" formControlName="NId" name="NId" required pattern="[2-3][0-9]{2}(0[1-9]|1[0-2])(0[1-9]|[12][0-9]|3[01])[0-9]{7}">
        <label for="NId">National-Id</label>
        @if ( this.registerForm.controls.NId.errors?.["required"]&&this.registerForm.controls.NId.touched ) {
          <div class="warnings">
            National-Id is required
          </div>
        }
        @if (this.registerForm.controls.NId.errors?.["pattern"]) {
          <div class="warnings">
            Please enter a valid Egyptian national ID
          </div>
        }
      </div>


      <div class="input-group">
        <input type="text" id="Address" formControlName="Address" name="Address" required>
        <label for="Address">Address</label>
        @if ( this.registerForm.controls.Address.errors?.["required"]&&this.registerForm.controls.Address.touched ) {
          <div class="warnings">
            Address is required
          </div>
        }
      </div>


      <div class="input-group">
        <input type="text" id="PhoneNumber" formControlName="PhoneNumber" name="PhoneNumber" required pattern="01[0-25]\d{8}">
        <label for="PhoneNumber">Phone-Number</label>
        @if ( this.registerForm.controls.PhoneNumber.errors?.["required"]&&this.registerForm.controls.PhoneNumber.touched ) {
          <div class="warnings">
            Phone-Number is required
          </div>
        }
        @if (this.registerForm.controls.PhoneNumber.errors?.["pattern"]) {
          <div class="warnings">
            please enter a valid phone number
          </div>
        }
      </div>


      <div class="input-group">
        <input type="text" id="WorkspaceName" formControlName="WorkSpaceName" name="WorkspaceName" required>
        <label for="WorkspaceName">Workspace-Name</label>
        @if ( this.registerForm.controls.WorkSpaceName.errors?.["required"]&&this.registerForm.controls.WorkSpaceName.touched ) {
          <div class="warnings">
            Workspace name is required
          </div>
        }
      </div>
      <button type="submit" class="btn" [disabled]="registerForm.invalid">Register</button>
    </form>
  </div>
</div>
